{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI DERMATOLOGIST</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
</head>

<body>
    <div class="image-form">
        <div>
            <img src="{% static 'assets/woman.jpg' %}" alt="woman" height="360px" width="400px">
        </div>

        <div class="form-txt">
            <div class="header-txt">
                <h3 style="font-family: sans-serif;">Change Password.</h3><br>
            </div>

            <div>
                {% if error %}
                    <p>{{error}}</p>
                {% endif %}
            </div>

            <div class="loginForm">
                <form action="{% url 'change_password' %}", method="post">
                    {% csrf_token %}
                    <input type="text" name="username" id="username" placeholder="Username" required><br><br>

                    <div>
                        <input type="submit" name="sign-in" value="Submit"><br><br>
                    </div>

                    <div>
                        <a href="{% url 'index'%}">back to login</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

<footer>
    <div class="footer-txt">
        <p>AI DERMATOLOGIST SYSTEM &copy; 2024</p>
    </div>
</footer>

</html>