{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI DERMATOLOGIST</title>

    <!-- css link -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://kit.fontawesome.com/702eaef72e.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="wrapper">
        <div class="sidebar">
            <div class="profile-username">
                {% if profile.profile_image %}
                    <img src="{{ profile.profile_image.url }}" alt="user-image" width="60px" height="60px">
                {% endif %}

                {% if user.is_authenticated %}
                <p style="color: white;"><strong> {{ user.username }}</strong></p>
                {% endif %}
            </div>

            <ul>
                <li><a href="{% url 'dashboard'%}">Home</a></li>
                <li><a href="{% url 'patientslist'%}">Patients</a></li>
                <li><a href="{% url 'diagnosis'%}">Diagnosis</a></li>
                <!-- <li><a href="#">Change Password</a></li> -->
                <li><a href="{% url 'index' %}">Logout</a></li>
            </ul>

            <div class="footer-h3">
                <h3><i class="fa-solid fa-robot fa-beat"></i> AI SYSTEM</h3>
            </div>
        </div>
    </div>

    <div class="main-content">
        <header>
            <h3><i class="fa-solid fa-id-card"></i> User's Profile</h3>
        </header><br>

        <body>
            <div id="profile">

                <!-- <img src="{% static 'assets/me.png'%}" alt=""> -->
                
                {% if profile.profile_image %}
                    <img src="{{ profile.profile_image.url }}" alt="profile-image">
                {% else %}
                    <img src="{% static 'assets/avatar.jpg'%}" alt="default-profile-image">
                {% endif %}

                <div id="profile-info">
                    {% if user.is_authenticated %}
                        <div>
                            <h3>Information</h3>
                            <hr><br>
                            <p>Username : {{ user.username }}</p><br>
                            <p>FirstName : {{ user.first_name }}</p><br>
                            <p>LastName : {{ user.last_name }}</p><br>
                            <p>Email : {{ user.email }} </p><br>
                         </div>
                    {% endif %}
                </div>
            </div><br>

            <input type="button" value="UPDATE" id="show-registration-form" class="update-user-info-btn"><br><br>
<!-- 
            {% if messages %}
                {% for message in messages %}
                    <p>{{ messages }}</p>
                {% endfor %}
            {% endif %} -->

            <div id="update-profile-info">
                <h3>Update Information</h3><hr><br>
                <form action="{% url 'update_user'%}" method="post" class="update-info-form">
                    {% csrf_token %}
                    <label for="profile-img">Profile Image</label>
                    <input type="file" name="" id="profile-img" accept="image/*"><br><br>

                    <!-- <label for="username">Username</label> -->
                    <input type="text" name="username" id="username" placeholder="Username"><br><br>
                    
                    <!-- <label for="username">First Name</label> -->
                    <input type="text" name="first_name" id="firstname" placeholder="First Name"><br><br>
                    
                    <!-- <label for="username">Last Name</label> -->
                    <input type="text" name="last_name" id="lastname" placeholder="Last Name"><br><br>
                    
                    <!-- <label for="username">Email Address</label> -->
                    <input type="email" name="email" id="email" placeholder="Email Address"><br><br>

                    <input type="submit" value="SAVE">
                </form><br>
            </div>

            <script>
                // Get references to the button and the registration form
                const button = document.getElementById('show-registration-form');
                const form = document.getElementById('update-profile-info');

                // Add event listener to the button
                button.addEventListener('click', function () {
                    // Toggle the display of the registration form
                    if (form.style.display === 'none') {
                        form.style.display = 'block';
                    } else {
                        form.style.display = 'none';
                    }
                });
            </script>
        </body>
</html>